dist: xenial
language: java

env:
  global:
    - SONATYPE_USERNAME=ph@phloc.com
    - secure: "FosWWnLSY9HIRXfdFQ7RD3v9hmZaK732S4D6p70SeryswYxOd+QnLZx/W5BLSDu2zdUyhkCkTYYgJ40kAantkexGxlbnHQletT+g9jvCn19Yk
FuugyE2ZVjZmLGMUCSkgXG0ZqpIjlm1IP0we3tUG7ns6ep0yDrtacXFg8CoTIOGVfyTYuvDQ2X71Bp2e5OYuISEu6slC3xI927iVTYLkJpYPtzSCLsj0XCyz
YAEFYcP6coJR/tmSk0jQ6UjXJSpHFFy7Dx9gizt3FORrcWxoOY1ms4BVrO52WxXEAq4xTrKo+rnH6ndrlbuNCZEUAhi/0MicWYv18dHKxT65ND/KMd+gTw+o
uujBOpqlZ9aXaSxyDFt07HalNwOskj94sd7Kk282A8yAKnqL02x/Bdj4qqMwyPXYnnttVa51syqWZImRSZNsofy32pewKSliqmQn9Xybnn+5VvV2++ABxql/
c0xwUOoM8LoiBmNJ4L3upIYhNDMtftfQlYt9z2BOwkGStRB3+YiezkNQHsVaCuosubCxQHb1wzJEp+9Kfx5sisUxrZ0L9ABqyX/VXGbKS/RoFzRqCg9mNOTQ
YJGgjuJ8GUfsh+Oi0Iu14uwE8s+mIxGJkUJJdOQLlUH/tSU7fIjxNbJqja9Ibtv383pBNgWtB47/9vJRofzHfnOVsrnfss="
  
install:
#  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U -P jdeps
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U
  
cache:
  directories:
    - $HOME/.m2

branches:
  only:
    - master

jobs:
  include:
    - stage: test
      jdk: openjdk8
      script:
        - mvn test -B -P coverage
      after_success:
        - mvn deploy --settings travis-settings.xml -DskipTests=true -B -P travis-deploy
        - bash <(curl -s https://codecov.io/bash)
    - stage: test
      jdk: openjdk11
      script:
        - mvn test -B
    - stage: test
      jdk: oraclejdk11
      script:
        - mvn test -B
    - stage: test
      jdk: openjdk12
      script:
        - mvn test -B
